
<% if !@sticky_pages.nil?%>

    <%for sticky_page in @sticky_pages%>
        <%if !sticky_page.content_for(:home_part1).nil?%>
            <%= raw sticky_page.content_for(:home_part1)%>
        <%end%>
    <%end%>
    <div class="headline"><h2>产品介绍</h2></div>
    <div class="row margin-bottom-20">
      <%for sticky_page in @sticky_pages%>
          <%if !sticky_page.content_for(:home_part2).nil?%>
              <%= raw sticky_page.content_for(:home_part2)%>
          <%end%>
      <%end%>
    </div>

<%end%>
