<div data-role="header">
  <div data-role="navbar" >
    <ul >
      <li ><a href="/" class="ui-btn-active" data-icon="home">首页</a></li>
      <li><a href="#side-menu">=</a></li>
    </ul>

  </div>


</div>
<%=side_menu.to_html%>
<script type="text/javascript">
    $(function() {
        $('#side-menu').mmenu({
            position:'right',
            onClick: {
                preventDefault: true
            }
        }, {
            offCanvas: {
                pageSelector: 'div[data-role="page"]:first'
            }
        });

        $('#side-menu a').on(
                'click',
                function()
                {
                    var _t = this;
                    $('#side-menu').one(
                            'closed.mm',
                            function()
                            {
                                $.mobile.changePage( _t.href, {
                                    transition: 'slide'
                                });
                            }
                    );
                }
        );
    });

    $(document).on(
            'pageshow',
            function( e, ui )
            {
                $('#side-menu').trigger( 'setPage', [ $(e.target) ] );
                $('#side-menu a').each(
                        function()
                        {
                            if ( $.mobile.path.parseUrl( this.href ).href == window.location.href )
                            {
                                $(this).trigger( 'setSelected.mm' );
                            }
                        }
                );
            }
    );

</script>

