<div class="header">
   <a ><%=image_tag "logo.png" ,class: "logo"%></a>
   <a href="#side-menu" class="menu-tag"></a>
   <a href="/" class="home-b"></a>
  <a href="/" class="tel"></a>
</div>


<%=side_menu.to_html%>
<script type="text/javascript">
  $(function(){
      $('#side-menu').mmenu({
          offCanvas: {
              position  : "right",
              counters:true
          }
      })
  })


</script>

