<div class="header  mm-fixed-top">
  <div class="fl">
    <a ><%=image_tag "logo.png" ,class: "logo"%></a>
  </div>
  <div class="fr">
    <a href="/" class="tel fl"></a>
    <a href="/" class="home-b fl"></a>
    <a href="#side-menu" class="menu-tag fl"></a>
  </div>
</div>


<%=side_menu.to_html%>
<script type="text/javascript">
    $(function(){
        $('#side-menu').mmenu({
            offCanvas: {
                position  : "right",
                counters:true
            }
        })
    })


</script>

