<div class="header">
   <a href="/" class="home-b">首页</a>
   <a href="#side-menu" class="menu-tag"></a>
  </ul>
</div>


<%=side_menu.to_html%>
<script type="text/javascript">
  $(function(){
      $('#side-menu').mmenu({
          offCanvas: {
              position  : "right",
              counters:true
          }
      })
  })


</script>

