<!--<div class="container">-->
<!--<h1 id='logo'>-->
  <!--<%#= link_to Refinery::Core.site_name, refinery.root_path %>-->
<!--</h1>-->
<!--<%=image_tag "logo.png"%>-->
<!--<%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>-->
  <!--<%=header_menu.to_html%>-->
<!--</div>-->
<!--<script>-->

<!--//    jQuery(document).ready(function(){-->
<!--//        jQuery('ul.sf-menu').superfish();-->
<!--//    });-->
<!--//-->
<!--</script>-->

<div class="header">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <!-- Topbar Navigation -->
      <ul class="loginbar pull-right">
        <li>
          <i class="fa fa-globe"></i>
          <a>语言</a>
          <ul class="lenguages">
            <li class="active">
              <a href="#">中文<i class="fa fa-check"></i></a>
            </li>
            <li><a href="#">英文</a></li>
          </ul>
        </li>
        <li class="topbar-devider"></li>
        <li><a href="page_faq.html">帮助</a></li>
        <li class="topbar-devider"></li>
        <li><a href="page_login.html">登陆</a></li>
      </ul>
      <!-- End Topbar Navigation -->
    </div>
  </div>
  <!-- End Topbar -->

  <!-- Navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="/pages/index">
          <%=image_tag "logo.png"  ,id:"logo-header" ,alt:"logo"%>

        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <!-- Home -->
          <li class="dropdown active">
            <a href="/pages/index" class="dropdown-toggle" data-toggle="dropdown">
              首页
            </a>

          </li>
          <!-- End Home -->


          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              产品介绍
            </a>
            <ul class="dropdown-menu">

              <li>
                <a href="">医疗设备</a>
              </li>
              <li>
                <a href="">医学影像平台</a>
              </li>
              <li>
                <a href="">临床诊疗平台</a>
              </li>
              <li>
                <a href="">健康云平台</a>
              </li>

            </ul>
          </li>



          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              解决方案
            </a>
          </li>



          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              关于我们
            </a>
            <ul class="dropdown-menu">
              <li><a href="/pages/aboutus">公司简介</a></li>
              <li><a href="">客户关系</a></li>
              <li><a href="">团队建设</a></li>
            </ul>
          </li>



          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              联系我们
            </a>
            <ul class="dropdown-menu">
              <li><a href="">地图定位</a></li>
              <li><a href="">招商代理</a></li>
              <li><a href="">联系方式</a></li>
            </ul>
          </li>



          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              企业招聘
            </a>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              新闻中心
            </a>
          </li>
          <!-- End Contacts -->

          <!-- Search Block -->
          <li>
            <i class="search fa fa-search search-btn"></i>
            <div class="search-open">
              <div class="input-group animated fadeInDown">
                <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
              </div>
            </div>
          </li>
          <!-- End Search Block -->
        </ul>
      </div><!--/navbar-collapse-->
    </div>
  </div>
  <!-- End Navbar -->
</div>