/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require_directory ./css
 * require css/bootstrap.min
 * require css/style
 * require css/line-icons
 * require css/font-awesome.min
 * require css/flexslider
 * require css/parallax-slider
 * require css/default
 * require css/custom
 *= require_tree .
 */
ul,li{list-style:none;}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei",sans-serif;}
#div .dropdown-menu .dropdown{float:left;border-right:1px solid #ededed}
#div .dropdown-menu{min-width:200px;padding:5px 10px;width:620px;}
#div .third_menu{margin-left:-40px}
#div ul li a{font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei",sans-serif;
   font-size:16px;
    font-weight:600;
}
#div .dropdown-menu li a{border-bottom:0px;font-weight:bold;}
#div ul li ul li a{font-size:14px;font-weight:normal;}
#div .third_menu li{clear:both;}
#div ul li ul.dropdown-menu .third_menu li a{
    margin:0;
    width:195px;
    padding:0px 15px;
    display:inline-block;
    height:31px;
    line-height:31px;
    border-bottom:0px;
    text-align:left;font-weight:normal;}
