#div ul,li{list-style:none;}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei",sans-serif;}
#div .dropdown-menu li{float:left;min-width:199px;}
#div .dropdown-menu .dropdown{border-right:1px solid #2282c1;height:100%;}
#div .dropdown-menu{
    min-width:210px;
    padding:20px 5px 5px 5px;
    width:810px;
    background:url(menu_bg.png) no-repeat left top ;
    filter:alpha(opacity=98); /*IE滤镜，透明度50%*/
    -moz-opacity:0.98; /*Firefox私有，透明度50%*/
    opacity:0.98;/*其他，透明度50%*/
}
#div .third_menu{margin-left:-40px}
#div ul li a{font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei",sans-serif;
    font-size:16px;
    font-weight:600;
    color:#ffffff;
}
#div .dropdown-menu li a{border-bottom:0px;font-weight:bold;color:#ffffff;}
#div ul li ul li a{font-size:14px;font-weight:normal;color:#ffffff;}
#div .third_menu li{clear:both;}
#div ul li ul.dropdown-menu .third_menu li a{
    margin:0;
    width:199px;
    padding:0px 15px;
    display:inline-block;
    height:31px;
    line-height:31px;
    border-bottom:0px;
    text-align:left;font-weight:normal;
    color:#ffffff;
}
#div ul li ul.dropdown-menu .third_menu li a:hover{
    background:url(icon-arrow-right.png) no-repeat 5px center #2282c1 !important; }
#div #noThirdMenu{width:200px;clear:both;}
#div #noThirdMenu li{clear:both;}