/*** ESSENTIAL STYLES ***/
#menu{font-family: "Helvetica Neue",Helvetica,Arial,"方正细圆简体",sans-serif;float:right;height:40px;line-height:40px;}
#menu ul li{
    width:100px;
    font-size:16px;
    text-align:center;
    font-weight:600;
}
#menu ul li ul{
    border-top:2px solid #3498db;
    background:#ffffff;padding:10px 0px;
}

#menu ul li ul li ul{border-top:2px solid #3498db;}
#menu ul li ul li ul li{border:none;clear:both;}
#menu ul li ul li a{
    padding-left:18px;color:#687074
}
#menu ul li ul li ul li a:hover,#menu ul li ul li a:hover,#menu ul li ul li a:after{background:#687074;color:#ffffff;}
#menu ul li ul li{text-align:left;
    width:200px;
    height:31px;
    line-height:31px;
    font-size:14px;
    clear:both;
    font-weight:normal;
    border-right:1px solid #eeeeee;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei";
}
#menu ul li ul{border-top:2px solid #3498db;}
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: -5%;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: -2px;
	left: 100%;

}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 1em;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	padding:0;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: #687074;
}
.sf-menu li {
	background: transparent;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {

}
.sf-menu ul ul li {

}
#menu .sf-menu li.current{border-bottom:2px solid #3498db}/*一级菜单选中样式*/
#menu .sf-menu li.current ul li.current{border:none;}    /*二级菜单选中样式*/
#menu .sf-menu li.current ul li.current ul li.current{border:none;} /*三级菜单选中样式*/
#menu .sf-menu li ul li.sfHover a{color:#ffffff;}
#menu .sf-menu li ul li.sfHover ul li a{color:#687074;}
#menu .sf-menu li ul li.sfHover ul li a:hover{color:#ffffff;}
#menu .sf-menu li ul li ul li a{color:#687074;}
.sf-menu ul li.sfHover {
    background: #687074;
    color:#ffffff;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
    text-align:center;
	padding-right:0;
	*padding-right: 0; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
/*-------------------------------------外用公共样式----------------------------------------*/
.background_gray{
    background: #f0f0f0;
    padding: 7px;
}
.background_blue{
    background:#00589c;
}

hr{
    border-top:1px solid #c3c3c3;
    border-bottom:0px;
}
.telephone{
    background:url(telefon.gif) no-repeat left center;
    padding-left:16px;
}
.fax{
    background:url(icon-adress-fax.gif) no-repeat left center;
    padding-left:16px;
}
.mail{
    background:url(icon-adress-email.gif) no-repeat left center;
    padding-left:16px;
}
.arrow_a{
    background: url(link_intern.gif) no-repeat left center;
    padding-left:16px;
}
p{
    margin:0;padding:0
}
.color_white{
    color:#ffffff;
}
.color_blue{
    color:#00589c;
}
.color_black{
    color:#000;
}
.font-22{
    font-size:22px;
}
.font-15{
    font-size:15px;
}
.right_col_more_fb {
    background: url(right_col_more_fb_bg.png) 0 0 no-repeat;
    width: 228px;
    height: 90px;
    padding-left:60px;
    padding-top:20px;
    padding-right:20px;
}
.fl{
    float:left;
}
.fr{
    float:right;
}