<!--scroll img-->
<div style="padding-top:10px;">
  <div style="width:100%;background:#ffffff;border-radius:10px;">
    <div class="scroll relative">

      <div class="scroll_box" id="scroll_img">
        <ul class="scroll_wrap">
          <li><a href="#"><img src="/system/images/W1siZiIsIjIwMTQvMDgvMDEvNG1nOHY0MjRnel9tXzNhMWY1MzU3NjIzNDAwMDAwMTZmZTJlY2FmNzMuanBnIl1d/m_3a1f535762340000016fe2ecaf73.jpg" width="100%" /></a>
          </li>
          <li><a href="#"><img src="/system/images/W1siZiIsIjIwMTQvMDgvMDEvY3V2enMzNTlxX21fNmJhODUzOTY4NGNmMDAwMDAxZGM2MGZlYmU2YS5qcGciXV0/m_6ba8539684cf000001dc60febe6a.jpg" width="100%" /></a>
          </li>
          <li><a href="#"><img src="/system/images/W1siZiIsIjIwMTQvMDgvMDEvM2Y5Nnd6ZGw4ZV9tXzdkMGI1Mzk2ODRjZjAwMDAwMWRjNjBmOTUzZjUuanBnIl1d/m_7d0b539684cf000001dc60f953f5.jpg" width="100%" /></a>
          </li>
        </ul>
      </div>

      <ul class="scroll_position" id="scroll_position">
        <li class="on"><a href="javascript:void(0);">1</a>
        </li>
        <li><a href="javascript:void(0);">2</a>
        </li>
        <li><a href="javascript:void(0);">3</a>
        </li>
      </ul>
      <span class="scroll_position_bg opacity6"></span>
    </div>
  </div>
</div>


<!--product-->

<div class="bg">
  <div class="box_con">
    <dl class="pro">
      <dt class="img"><img src="/system/images/W1siZiIsIjIwMTQvMDgvMDEvN2lhYWhxcGdpMl8xLmpwZyJdXQ/1.jpg" width="100%" height="auto" /></dt>
      <dd class="text">大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自</dd>
    </dl>
    <div style="clear:both;"></div>
    <div class="line"></div>
    <dl class="pro">
      <dt class="img"><img src="/system/images/W1siZiIsIjIwMTQvMDgvMDEvN2lhYWhxcGdpMl8xLmpwZyJdXQ/1.jpg" width="100%" height="auto" /></dt>
      <dd class="text">大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自</dd>
    </dl>
    <div style="clear:both;"></div>
    <div class="line"></div>
    <dl class="pro">
      <dt class="img"><img src="/system/images/W1siZiIsIjIwMTQvMDgvMDEvN2lhYWhxcGdpMl8xLmpwZyJdXQ/1.jpg" width="100%" height="auto" /></dt>
      <dd class="text">大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自然石材大自</dd>
    </dl>
    <div style="clear:both;"></div>
  </div>
  <div style="clear:both;"></div>
</div>
