<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
      body, html,#mymap{width: 100%;height: 100%;overflow: hidden;margin:0;}
      /*#l-map{height:100%;width:78%;float:left;border-right:2px solid #bcbcbc;}*/
      /*#r-result{height:100%;width:20%;float:left;}*/
  </style>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7898100f69652bae72de58d7c8ce200d"></script>
</head>

<body>


  <div id="mymap" ></div>
    <%= yield %>

</body>

</html>

<script>
    // 初始化地图
    function initMap(){
        createMap();
        addMapControl();
        setMapEvent();
        addMarker();

    };
//创建地图
    function createMap(){
        var map = new BMap.Map("mymap");
        var point = new BMap.Point(117.325298,34.8163);  //中心点枣庄
        map.centerAndZoom(point, 6);
        window.map=map
    };
//    向地图添加北京的point
    function addPointOfBeijing(){
        var beijingPoint = new BMap.Point(116.295862,39.856765);
        var beijingMarker = new BMap.Marker(beijingPoint);  // 创建标注
        var beijingLabel = new BMap.Label("北京总公司",{offset:new BMap.Size(20,-10)});
        beijingMarker.setLabel(beijingLabel);
        return beijingMarker;

    };
    //    向地图添加浙江的point
    function addPointOfZhejiang(){
        var zhejiangPoint = new BMap.Point(120.546548,30.611978);
        var zhejiangMarker = new BMap.Marker(zhejiangPoint);  // 创建标注
        var zhejiangLabel = new BMap.Label("北京华康同邦科技有限公司桐乡分公司",{offset:new BMap.Size(20,-10)});
        zhejiangMarker.setLabel(zhejiangLabel);
        return zhejiangMarker;

    }
//    向地图添加marker
  function addMarker(marker){
      var beijingMarker=addPointOfBeijing();
      var zhejiangMarker=addPointOfZhejiang();
      var markers=[beijingMarker,zhejiangMarker];
      for(i=0;i<2;i++){
          map.addOverlay(markers[i]);  // 将标注添加到地图中
      };

  };

    //添加默认缩放平移控件
    function addMapControl(){
       map.addControl(new BMap.NavigationControl());
       map.addControl(new BMap.OverviewMapControl());              //添加默认缩略地图控件
       map.addControl(new BMap.OverviewMapControl({isOpen:true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT}));   //右上角，打开
    }

//    地图事件设置
    function setMapEvent(){
        map.enableScrollWheelZoom();    //启用滚轮放大缩小，默认禁用
        map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
    }
    initMap()
</script>
